body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 4rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

img.self-img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 80px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 80%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.projects p{
  line-height: 2;
}

.education{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
} 
.technical-skills, .projects, .language{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 300px;
  height: 370px;
  float: left;
  margin-right: 30px;
}

.skills-img{
  width: 50%;
  float: right;
  margin-left: 30px;
}

li{
  line-height: 2.5;
}


.contact-me{
  width: 50%;
  text-align: left;
  margin: 100px auto;
}

.contact-me label{
  display: block;
  margin: 10px 0px;
}

.contact-me input, textarea{
  padding: 10px;
  display: block;
  border-radius: 3px;
  width: 500px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 0px 10px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 10px 0px 10px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


.btn{
  padding: 10px;
  margin: 50px 0px;
  border-radius: 5px;
  font-size: .75em;
  height: 38px;
  width: 120px;
  background: #4dbecf;
  box-shadow: 0 15px 30px rgba(black,.1);
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
